<html>
<head>
<title>Heroku Office</title>
<style>
  svg {
    zoom: 0.85
  }

  .room, .stairs, .nothing, .elevator, .bathroom {
    fill-opacity: 0.2;
  }

  .room, .misc { fill: blue; }
  .stairs, .bathroom, .elevator { fill: purple }
  .nothing { fill: black }

  .room:hover, .team:hover {
    cursor: pointer;
    fill: orange !important;
    fill-opacity: 0.55;
  }
  rect:hover  {
  }

  .selected  {
    fill: red !important;
    fill-opacity: 0.5;
  }

  #desc {
    font-family: monospace;
    white-space: pre;
    position: absolute;
    left: 550px;
    top: 335px;
  }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

function removeSVGClass(jqEl, className) {
  var classAttr = jqEl.attr('class');

  if (classAttr != undefined) {
    classAttr = classAttr.replace(new RegExp('\\s?' + className), '');
    jqEl.attr('class', classAttr);
  }
}
function addSVGClass(jqEl, className) {
  var classAttr = jqEl.attr('class');

  if (classAttr != undefined) {
    classAttr = classAttr + (classAttr.length === 0 ? '' : ' ') + className;
    jqEl.attr('class', classAttr);
  }
}

$(function(){

$('.svgholder').on('click touchstart', '.room, .team', function() {
  $('.selected').each(function() { removeSVGClass($(this), 'selected') })
  addSVGClass($(this), 'selected')
  history.pushState({},'', "#" + this.id)
})

// I could not figure out how to get css3 animation to work on svgs :(
firstSelected =  $(window.location.hash)
var firstSelectedOn  = function() { addSVGClass(   firstSelected, 'selected') }
var firstSelectedOff = function() { removeSVGClass(firstSelected, 'selected') }
for(var i=50; i <= 500; i += 100) { setTimeout( firstSelectedOff, i) }
for(var i=0;  i <= 500; i += 100) { setTimeout( firstSelectedOn, i) }

var p3  = ' 3 people'
var p4  = ' 4 people, couch'
var p6  = ' 6 people, tv'
var p10 = '10 people, tv'
var ot  = ', open top'
var descs = {
  100: p6     , 102: p3    , 105: p3
, 114: p6     , 115: p10   , 122: p4 , 124: p6 , 125: p10 , 129: '16 people , tv'
, 130: p10    , 131: p10   , 201: p3

, 203: p3     , 206: p6+ot , 207: p3
, 210: p3     , 212: p6+ot
, 224: p6     , 226: p6    , 227: p4 , 229: p4
, 230: p10    , 231: p6+ot , 235: p6 , 236: p6
, 240: p10+ot , 248: p6+ot
, 252: p3

, 303: p3     , 306: p6    , 307: p3
, 310: p3     , 312: p6
, 324: p6     , 326: p6    , 327: p4 , 329: p4
, 330: p10    , 331: p6    , 336: p6 , 338: p6
, 341: p10    , 349: p6
, 352: p3
}
$('.svgholder').on('mouseover', '.conf', function() {
  document.getElementById('desc').innerText =  this.id + ': ' + descs[this.id]
})
$('.svgholder').on('mouseout', '.conf', function() {
  document.getElementById('desc').innerText = ''
})



});
</script>
</head>
<body>

<div id='desc'></div>
<div class='svgholder'>
<%= File.read('floor.svg') %>
</div>

<div>
  <a href='http://github.com/heroku/office'>svg office map</a> by <a href='http://bitfission.com'>Will Leinweber</a>.

  <br><a href="http://thenounproject.com/noun/stairs/#icon-No5827" target="_blank">Stairs</a> designed by <a href="http://thenounproject.com/driskell" target="_blank">Nathan Driskell</a>,
  <a href="http://thenounproject.com/noun/elevator/#icon-No20552" target="_blank">Elevator</a> designed by <a href="http://thenounproject.com/b4bb" target="_blank">Bohdan Burmich</a>,
  and <a href="http://thenounproject.com/noun/toilet-paper/#icon-No15849" target="_blank">Toilet Paper</a> designed by <a href="http://thenounproject.com/joe_harrison" target="_blank">Joe Harrison</a> from The Noun Project
</div>
</body>
</html>
