<html>
<head>
<title>Heroku Office</title>
<style>
  svg {
    zoom: 0.9
  }

  .room, .stairs, .nothing, .elevator, .bathroom {
    fill-opacity: 0.2;
  }

  .room, .misc { fill: blue; }
  .stairs, .bathroom, .elevator { fill: purple }
  .nothing { fill: black }

  .room:hover {
    cursor: pointer;
    fill: orange;
    fill-opacity: 0.55;
  }
  rect:hover  {
  }

  .selected  {
    fill: red !important;
    fill-opacity: 0.5;
  }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

function removeSVGClass(jqEl, className) {
  var classAttr = jqEl.attr('class');
  classAttr = classAttr.replace(new RegExp('\\s?' + className), '');
  jqEl.attr('class', classAttr);
}
function addSVGClass(jqEl, className) {
  var classAttr = jqEl.attr('class');
  classAttr = classAttr + (classAttr.length === 0 ? '' : ' ') + className;
  jqEl.attr('class', classAttr);
}

$(function(){


$('.svgholder').on('click', '.room', function(e) {
  $('.selected').each(function() { removeSVGClass($(this), 'selected') })
  addSVGClass($(this), 'selected')
  history.pushState({},'', "#" + this.id)

})

  $(window.location.hash).each(function() { addSVGClass($(this), 'selected') })



});
</script>
</head>
<body>

<div class='svgholder'> <!-- <img src='floor2.svg' class='svg'> -->
<%= File.read('floor2.svg') %>
</div>

<div>
  <a href='http://github.com/heroku/office'>svg office map</a> by <a href='http://bitfission.com'>Will Leinweber</a>.

  <br><a href="http://thenounproject.com/noun/stairs/#icon-No5827" target="_blank">Stairs</a> designed by <a href="http://thenounproject.com/driskell" target="_blank">Nathan Driskell</a>,
  <a href="http://thenounproject.com/noun/elevator/#icon-No20552" target="_blank">Elevator</a> designed by <a href="http://thenounproject.com/b4bb" target="_blank">Bohdan Burmich</a>,
  and <a href="http://thenounproject.com/noun/toilet-paper/#icon-No15849" target="_blank">Toilet Paper</a> designed by <a href="http://thenounproject.com/joe_harrison" target="_blank">Joe Harrison</a> from The Noun Project
</div>
</body>
</html>
